.aboutTitle {
  margin-bottom: 50px;
  line-height: 1.2;
  padding: 0 30px;
  font-size: 70px;
}

.aboutSubtitle {
  margin-left: 30px;
   font-size: 40px;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.25rem; 
  line-height: 1.75rem;
  padding: 70px 80px;

}
.aboutText p {
  margin: 10px 0;
}

.aboutButton {
  margin: 60px auto 0 auto;
  display: block;
  margin-bottom: 120px;
}

.tabletImage {
  width: 100%;
  max-width: 700px;
  height: auto;
}
