.tablet {
  margin-left: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .bgImage {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
  }

  .tabletBtnWrapper {
    position: absolute;
    top: 65px;
    right: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .tabletBtn {
      border: none;
      background: none;
      cursor: pointer;
      .btnIcon {
        width: 50px;
        height: auto;
      }
    }
  }
}



@media (min-width: 1200px) {
  .tablet {
    padding: 30px 100px 30px 38px;
    width: 800px;
    height: 476px;
  }
}

@media (min-width: 1280px) {
  .tablet {
    padding: 32px 115px 32px 42px;
    width: 900px;
    height: 536px;
  }
}

@media (min-width: 1440px) {
  .tablet {
    padding: 35px 125px 35px 45px;
    width: 1000px;
    height: 596px;
  }
}
