.custom {
  background: url('/images/header/header-bg.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 40px 50px 40px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navContent {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navLinks {
  font-family: 'AlumniSans-Regular', sans-serif;
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;

  li {
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.backdrop {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: rgba(7, 21, 42, 0.822); 
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); 
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  width: 20rem;
  text-align: center;
}


.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.logout {
  background: #ef4444; 
  &:hover {
    background: #f87171; 
  }
}

.cancel {
  background: #6b7280; 
  &:hover {
    background: #9ca3af; 
  }
}
