.custom {
  background: url("/images/header-bg.svg") center/cover no-repeat;
  height: 160px;
  width: 100%;
  position: fixed;  
  top: 0;            
  left: 0;
  z-index: 1000;   
  display: flex;
  align-items: center;
  justify-content: center;
}


.navContent {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;

  li {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.authButtons {
  display: flex;
  gap: 30px;

  .loginBtn {
    position: relative;
    background: transparent;
    color: #bca9f5;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
    border: none;
    font-family: "Montserrat", sans-serif;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: transparent;
      border: 2px solid #bca9f5;
      box-sizing: border-box;
      clip-path: polygon(
        8px 0%, calc(100% - 8px) 0%, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) 100%,
        8px 100%, 0% calc(100% - 8px), 0% 8px
      );
      transition: all 0.3s ease;
    }

    &:hover::before {
      background-color: #bca9f5;
    }

    &:hover {
      color: #fff;
    }
  }

  .signupBtn {
    background-color: #bca9f5;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
    clip-path: polygon(
      8px 0%, calc(100% - 8px) 0%, 100% 8px,
      100% calc(100% - 8px), calc(100% - 8px) 100%,
      8px 100%, 0% calc(100% - 8px), 0% 8px
    );

    &:hover {
      opacity: 0.87;
    }
  }
}
