.custom {
  background: url('/images/header-bg.svg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 40px 50px 40px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navContent {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;

  li {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.authButtons {
  display: flex;
  gap: 30px;
}
