.quizContainer {
  max-width: 900px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.quizTitle {
  width: 96%; 
  height: 150px; 
  background: url('/images/svg/quizTitle2.svg') center/contain no-repeat;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.quizOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; 
}

.option {
  width: 325px;
  height: 140px;
  position: relative;
  padding: 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(135deg, #00cfff, #024061);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
  }
}
